h1= title
ul
  - if (!everyauth.loggedIn)
    li
      a(href="/login") Login
    li
      a(href="/register") Register
    li
      a(href="/auth/twitter") Login with Twitter!
    li
      a(href="/auth/github") Login with GitHub!
  - else
    
    p Sup, #{everyauth.displayName}.
    li
      a(href="/play") Play!
    li
      a(href="/logout") Logout
  li
    a(href="/stats") Stats

