h1= title
p Welcome to #{title}
  - if (everyauth.loggedIn)
    , #{everyauth.twitter.user.name}. Oh yeah, and #{everyauth.twitter.displayName}.
ul
  - if (!everyauth.loggedIn)
    li
      a(href="/login") Login
    li
      a(href="/register") Register
    li
      a(href="/auth/twitter") Login with Twitter!
  - else
    li
      a(href="/play") Play!
    li
      a(href="/logout") Logout
  li
    a(href="/stats") Stats

