!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if (info.length)
      #info
        = info
    - if (warn.length)
      #warn
        = warn
    != body
