h1 title
p Note: Please use less than 20 characters for your Display Name
p Please login below:
form(name='login', id='login', method='post', action='login')
  #login
    p Display Name
      input(type='text', name='displayName')
  #password
    p Password
      input(type='text', name='password')
  #submit
    input(type='submit') Login
