h1= title

p Please choose a sweet display name for this account below (max length 20 chars):
form(name='newuser', id='newuser', method='post')
  p Display Name:
    input(type='text', id='displayname', name='displayname', maxlength='20')
  p
    input(type='submit', id='login', name='login', value='Login!')
