script(src='/socket.io/socket.io.js')
script(src='http://code.jquery.com/jquery-latest.js')
script
    var isPlayerOne = false;
    var botTimer = false;
    var timer = function(seconds, callback) {
      seconds || 5
      callback(seconds);
      console.log(seconds);
      var timerInterval = setInterval(function() {
        seconds--;
        if (seconds === 0) {
          clearInterval(timerInterval);
        } else {
          callback(seconds);
          console.log(seconds);
        }
      }, 1000);
      return timerInterval;
    }
    var socket = io.connect();
    $(function() {
      //When the player joins, the script will first see if a game is available
      //If now game is available, create a new game
      socket.emit('initial', {'data': '#{user.displayName}'})
      //TEMPORARY FIX FOR JADE'S SOURCE TAG ISSUE
      $('#soundarea audio').html('<source src="sounds/boop.mp3" type="audio/mpeg"/><source src="sounds/boop.wav" type="audio/wav"/>Your browser does not support the audio element. Use a real browser.')
      //When we get a message from the server, we will interpret it and provide
      //the relevant information to the player
      socket.on('wait', function(msg) {
        $('#player1name').html('#{user.displayName}')
        $('#gamestatus').html(msg.data)
        $('#player1choice').html('<img src="/images/questionmark.png" alt="questionmark"/>')
        $('#player2choice').html('')
        $('#player2name').html('')
        isPlayerOne = true;
        //Bot Timer
        botTimer = timer(10, function(seconds) {
          $('#timersection').html(seconds);
        });
      });
      socket.on('join', function(msg) {
        //Unset botTimer
        clearInterval(botTimer);
        if (!isPlayerOne) {
          $('#player1name').html(msg.data.player1name)
          $('#player1choice').html('<img src="/images/questionmark.png" alt="questionmark"/>')
        }
        $('#player2name').html(msg.data.player2name)
        $('#player2choice').html('<img src="/images/questionmark.png" alt="questionmark"/>')
      });
      socket.on('timer', function(msg) {
        timer(msg.data, function(seconds) {
          $('#timersection').html(seconds);
          if ($('input#alert').is(':checked')) { //If the checkbox is enabled, play the alert sound with each tick
            //TODO: Replace this with jQuery
            //$('#soundarea audio').play();
            var a = document.getElementsByTagName("audio")[0];
            a.play();
          }
        });
      });
      socket.on('gamestatus', function(msg) {
        $('#gamestatus').html(msg.data)
      });
      socket.on('results', function(msg) {
        $('#gamecontrols').hide();
        $('#playagainarea').show();
        $('#player1choice').html('<img src="/images/'+msg.data.player1choice+'.png" alt="'+msg.data.player1choice+'"/>')
        $('#player2choice').html('<img src="/images/'+msg.data.player2choice+'.png" alt="'+msg.data.player2choice+'"/>')
        isPlayerOne = false;
      });
      socket.on('choose', function(msg) {
        $('#gamecontrols').show();
      });
      socket.on('roundplaycount', function(msg) {
        $('span#numberofplays').html(msg.data)
      });
      

      //Button Clicks
      $('#rock').click(function() {
        socket.emit('choice',{ 'data': 'rock'});
        //Update their choice picture to reflect the click
        if(isPlayerOne) {
          $('#player1choice').html('<img src="/images/rock.png" alt="Rock"/>');
        } else {
          $('#player2choice').html('<img src="/images/rock.png" alt="Rock"/>');
        }        
      });
      $('#paper').click(function() {
        socket.emit('choice',{ 'data': 'paper'});
        //Update their choice picture to reflect the click
        if(isPlayerOne) {
          $('#player1choice').html('<img src="/images/paper.png" alt="Paper"/>');
        } else {
          $('#player2choice').html('<img src="/images/paper.png" alt="Paper"/>');
        } 
      });
      $('#scissors').click(function() {
        socket.emit('choice',{ 'data': 'scissors'});
        //Update their choice picture to reflect the click
        if(isPlayerOne) {
          $('#player1choice').html('<img src="/images/scissors.png" alt="Scissors"/>');
        } else {
          $('#player2choice').html('<img src="/images/scissors.png" alt="Scissors"/>');
        } 
      });
      $('#playagain').click(function() {
        socket.emit('initial',{ 'data': '#{user.displayName}'});
        $('#player1choice').html('<img src="/images/questionmark.png" alt="questionmark"/>')
        $('#player2choice').html('')
        $('#playagainarea').hide();
      });
    });
h1= title
#gameareawrapper
  #playerareawrapper
    #player1
      #player1namearea
        h3
          span#player1name
      #player1picturearea
        #player1choice
    #player2
      #player2namearea
        h3
          span#player2name
      #player2picturearea
        #player2choice
  #gamemetrics
    p
      span#timersection
    p
      span#gamestatus
    #gamecontrols
      #rock
        img(src='images/rocksmall.png')
      #paper
        img(src='images/papersmall.png')
      #scissors
        img(src='images/scissorssmall.png')
    #playagainarea
      input(type='button', name='playagain', id='playagain', value='Play Again?')
#numberofplaysarea
  p Ranked plays left: 
    span#numberofplays 0
#soundcheckbox
  input(type='checkbox', name='alert', id='alert')
  span Turn alert sound on (may require browser plugins!)
#soundarea
  audio
#footer
  p Alert "boop" sound found here: http://www.freesound.org/samplesViewSingle.php?id=25885  
