h1 title
p Please enter your credentials below to register (Display Name less than 16 characters, please!):
form(name='register', id='register', method='post', action='register')
  #displayName
    p Display Name
      input(type='text', name='displayName')
  #password
    p Password
      input(type='text', name='password')
  #passwordagain
    p Password again
      input(type='text', name='passwordagain')
  #submit
    input(type='submit') Register
