body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#warn, #info {
  border: 1px solid;
  padding: 10px;
  width: 400px;
}

#warn {
  color: red;
  border-color: red;
}

#info {
  color: green;
  border-color: green;
}

/* Play Page */

/* Wrapper */
#gameareawrapper {
  width: 800px;
  margin: 0px auto;
  padding: 0px;
}

/* Player Area 
   Fills the entire wrapper.
   There are 2 divs: one for each player
   Player1's div floats left, Player2's div floats right.
   */
#playerarea {
  width: 800px;
  margin: 0px auto;
}
#player1 {
  width: 300px;
  float: left;
  text-align: center;
}
#player2 {
  width: 300px;
  float: right;
  text-align: center;
}
#player1choice img, #player2choice img {
  width: 300px;
}
#player2choice {
  text-align: right;
}

/* Game Metrics Area */
/* This is a third layer on top of the other two.
   Displays the timer as well as any game statuses */
#gamemetrics {
  width: 200px;
  margin: 0px auto;
  float: left;
}

#gamecontrols {
  width: 200px;
  margin: 0px auto;
}

#playagain {
  width: 200px;
  margin: 0px auto;
}

#timersection {
  width: 200px;
  margin: 0px auto;
  text-align: center;
}

#gamestatus {
  width: 200px;
  margin: 0px auto;
  text-align: center;
}
