body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#warn, #info {
  border: 1px solid;
  padding: 10px;
  width: 400px;
}

#warn {
  color: red;
  border-color: red;
}

#info {
  color: green;
  border-color: green;
}

#footer {
  font-size: .7em;
}

/* Play Page */

/* Wrapper */
#gameareawrapper {
  height: 320px;
  width: 865px;
  margin: 0px auto;
  padding: 0px;
}

/* Player Area 
   Fills the entire wrapper.
   There are 2 divs: one for each player
   Player1's div floats left, Player2's div floats right.
   */
#playerarea {
  width: 865px;
  margin: 0px auto;
}
#player1 {
  width: 320px;
  float: left;
  text-align: center;
}
#player1namearea {
  height: 20px;
}
#player1namearea h3{
  margin: 0;
  padding: 0;
}
#player1picturearea {
  background: url('/images/background.png') no-repeat center;
  height: 300px;
}
#player2 {
  width: 320px;
  float: right;
  text-align: center;
}
#player2namearea {
  height: 20px;
}
#player2namearea h3{
  margin: 0;
  padding: 0;
}
#player2picturearea {
  background: url('/images/background.png') no-repeat center;
  height: 300px;
}
#player1choice img, #player2choice img {
  width: 300px;
}
#player2choice {
  text-align: right;
}

/* Game Metrics Area */
/* This is a third layer on top of the other two.
   Displays the timer as well as any game statuses */
#gamemetrics {
  height: 320px;
  width: 225px;
  margin: 0px auto;
  float: left;
  position: relative;
}

#gamecontrols {
  width: 225px;
  margin: 0px auto;
  display: none;
  position: absolute;
  bottom: 0px;
  //border: 1px solid black;
  height: 75px;
}

#gamecontrols div {
  width: 75px;
  float: left;
  opacity: .5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50); 
}

#gamecontrols div:hover {
  cursor: pointer; 
  cursor: hand;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

#playagainarea {
  width: 225px;
  margin: 0px auto;
  display: none;
}

#timersection {
  width: 225px;
  margin: 0px auto;
  text-align: center;
}

#gamestatus {
  width: 225px;
  margin: 0px auto;
  text-align: center;
}
