h1= title
p These are the stats, currently. 
  - if (user)
    a(href='../stats/'+user.displayName) Your stats 
table#stats
  tr
    th Name
    th Wins
    th Losses
    th Round Wins
    th Round Losses
    th Round Plays Left
  !=partial('founduser', foundusers);
  
