h1= title
p These are the stats, currently. 
  - if (user.displayName)
    a(href='../stats/'+user.displayName) Your stats 
table#stats
  tr
    th Name
    th Wins
    th Losses
  tr
    td #{founduser.username}
    td #{founduser.wins}
    td #{founduser.losses}
  
